venv*/
coverage_html/
htmlcov/
*.csv#
*.bak
*.pid
*.pyc
.DS_Store
.coverage
.idea
/static
adhesive/settings/local.py
adhesive/settings/local_test.py
bin/env/overwrite
bin/debug/report.csv
shopifycom/script_tags/hivewyretag.js.min
dist_tmp
dist_tmp2
dump.json
dump.tar.gz
dump.rdb
flower
flower.db
build/*
test_db.sqlite
test_db.sqlite-journal
utils/redis-benchmark/memory.csv
var
venv_activate
.cache
cov_*
cov.xml
pytest_*.ini
**/*.gz
**/*.tgz
example_backup_file
.pytest_cache
src/celerybeat-schedule
__pycache__/
id_rsa
script.py
